{% set currentRoute = app.request.attributes.get('_route') %}
{% set communityRoutes = ['darkwood_chat', 'darkwood_users', 'darkwood_guestbook'] %}
{% set rankMode = app.request.get('mode') %}
{% set communityActive = currentRoute in communityRoutes %}
{% set rankActive = currentRoute == 'darkwood_rank' %}

<nav class="theme-nav row g-0 align-items-center" aria-label="Darkwood navigation">
    <div class="theme-nav__primary col-md">
        <a class="theme-nav__brand" href="{{ path('darkwood_home') }}">
            <img src="{{ asset('logo.svg') }}" alt="Darkwood" class="theme-nav__brand-mark">
            <span class="theme-nav__brand-text">Darkwood</span>
        </a>

        <ul class="theme-nav__links">
            <li>
                <a href="{{ path('darkwood_play') }}" class="{% if currentRoute == 'darkwood_play' %}is-active{% endif %}">
                    {{ 'darkwood.menu.play'|trans }}
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle{% if communityActive %} is-active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'darkwood.menu.community'|trans }}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item{% if currentRoute == 'darkwood_chat' %} active{% endif %}" href="{{ path('darkwood_chat') }}">
                            {{ 'darkwood.menu.chat'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item{% if currentRoute == 'darkwood_users' %} active{% endif %}" href="{{ path('darkwood_users') }}">
                            {{ 'darkwood.menu.users'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item{% if currentRoute == 'darkwood_guestbook' %} active{% endif %}" href="{{ path('darkwood_guestbook') }}">
                            {{ 'darkwood.menu.guestbook'|trans }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle{% if rankActive %} is-active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'darkwood.menu.leaderboard'|trans }}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item{% if rankActive and not rankMode %} active{% endif %}" href="{{ path('darkwood_rank') }}">
                            {{ 'darkwood.menu.rank_general'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item{% if rankMode == 'by_class_human' %} active{% endif %}" href="{{ path('darkwood_rank', {'mode': 'by_class_human'}) }}">
                            {{ 'darkwood.menu.rank_by_class'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item{% if rankMode == 'daily_fight_by_defeats' %} active{% endif %}" href="{{ path('darkwood_rank', {'mode': 'daily_fight_by_defeats'}) }}">
                            {{ 'darkwood.menu.rank_daily_fight'|trans }}
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('darkwood_rules') }}" class="{% if currentRoute == 'darkwood_rules' %}is-active{% endif %}">
                    {{ 'darkwood.menu.rules'|trans }}
                </a>
            </li>
        </ul>
    </div>

    <div class="theme-nav__actions col-md-auto">
        <div class="theme-nav__locales dropdown" aria-label="Locales">
            <a href="#" class="dropdown-toggle theme-nav__locale-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ asset('/common/images/site/flags/' ~ app.request.locale ~ '.png') }}" alt="{{ app.request.locale }}" class="theme-nav__flag">
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                {% for locale, pageLink in pageLinks %}
                    <li>
                        <a href="{{ pageLink }}" class="dropdown-item{% if app.request.locale == locale %} active{% endif %}">
                            <img src="{{ asset('/common/images/site/flags/' ~ locale ~ '.png') }}" alt="{{ locale }}" class="theme-nav__flag">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if app.user %}
            <a class="theme-nav__profile" href="{{ path('common_profile') }}">
                <img src="{{ asset(vich_uploader_asset(app.user, 'image')|default('/common/images/profile/default.jpg'))|imagine_filter('user') }}" alt="{{ app.user.username }}">
                <span>{{ app.user.username }}</span>
            </a>
            <form action="{{ path('security_logout') }}" method="get">
                <button type="submit" class="theme-nav__button theme-nav__button--logout">
                    {{ 'common.menu.logout_btn'|trans }}
                </button>
            </form>
        {% else %}
            <a class="theme-nav__button theme-nav__button--login" href="{{ path('security_login') }}">
                {{ 'common.menu.login_btn'|trans }}
            </a>
        {% endif %}
    </div>
</nav>

<ul class="theme-mobile-nav">
    <li class="theme-mobile-nav__home">
        <a href="{{ path('darkwood_home') }}" class="{% if currentRoute == 'darkwood_home' %}is-active{% endif %}">
            {{ 'darkwood.menu.home'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('darkwood_play') }}" class="{% if currentRoute == 'darkwood_play' %}is-active{% endif %}">
            {{ 'darkwood.menu.play'|trans }}
        </a>
    </li>
    <li class="dropup">
        <a href="#" class="dropdown-toggle{% if communityActive %} is-active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'darkwood.menu.community'|trans }}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item{% if currentRoute == 'darkwood_chat' %} active{% endif %}" href="{{ path('darkwood_chat') }}">
                    {{ 'darkwood.menu.chat'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{% if currentRoute == 'darkwood_users' %} active{% endif %}" href="{{ path('darkwood_users') }}">
                    {{ 'darkwood.menu.users'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{% if currentRoute == 'darkwood_guestbook' %} active{% endif %}" href="{{ path('darkwood_guestbook') }}">
                    {{ 'darkwood.menu.guestbook'|trans }}
                </a>
            </li>
        </ul>
    </li>
    <li class="dropup">
        <a href="#" class="dropdown-toggle{% if rankActive %} is-active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'darkwood.menu.leaderboard'|trans }}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item{% if rankActive and not rankMode %} active{% endif %}" href="{{ path('darkwood_rank') }}">
                    {{ 'darkwood.menu.rank_general'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{% if rankMode == 'by_class_human' %} active{% endif %}" href="{{ path('darkwood_rank', {'mode': 'by_class_human'}) }}">
                    {{ 'darkwood.menu.rank_by_class'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{% if rankMode == 'daily_fight_by_defeats' %} active{% endif %}" href="{{ path('darkwood_rank', {'mode': 'daily_fight_by_defeats'}) }}">
                    {{ 'darkwood.menu.rank_daily_fight'|trans }}
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ path('darkwood_rules') }}" class="{% if currentRoute == 'darkwood_rules' %}is-active{% endif %}">
            {{ 'darkwood.menu.rules_short'|trans }}
        </a>
    </li>
</ul>
