{% set currentRoute = app.request.attributes.get('_route') %}
{% set primaryNav = [
    {'route': 'darkwood_home', 'label': 'darkwood.menu.home'|trans},
    {'route': 'darkwood_play', 'label': 'darkwood.menu.play'|trans},
    {'route': 'darkwood_chat', 'label': 'darkwood.menu.chat'|trans},
    {'route': 'darkwood_users', 'label': 'darkwood.menu.users'|trans},
    {'route': 'darkwood_rules', 'label': 'darkwood.menu.rules'|trans},
    {'route': 'darkwood_guestbook', 'label': 'darkwood.menu.guestbook'|trans},
    {'route': 'darkwood_extra', 'label': 'darkwood.menu.extra'|trans}
] %}

<nav class="darkwood-topnav" aria-label="Darkwood navigation">
    <a class="darkwood-topnav__brand" href="{{ path('darkwood_home') }}">
        <span class="darkwood-topnav__brand-mark" aria-hidden="true"></span>
        <span class="darkwood-topnav__brand-text">Darkwood</span>
    </a>

    <ul class="darkwood-topnav__links">
        {% for item in primaryNav %}
            <li>
                <a href="{{ path(item.route) }}" class="{% if currentRoute == item.route %}is-active{% endif %}">
                    {{ item.label }}
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ path('darkwood_rank') }}" class="{% if currentRoute == 'darkwood_rank' %}is-active{% endif %}">
                {{ 'darkwood.menu.rank_general'|trans }}
            </a>
        </li>
    </ul>

    <div class="darkwood-topnav__actions">
        <div class="darkwood-topnav__locales" aria-label="Locales">
            {% for locale, pageLink in pageLinks %}
                <a href="{{ pageLink }}" class="{% if app.request.locale == locale %}is-active{% endif %}">
                    {{ locale|upper }}
                </a>
            {% endfor %}
        </div>

        {% if app.user %}
            <a class="darkwood-topnav__profile" href="{{ path('common_profile') }}">
                <img src="{{ asset(vich_uploader_asset(app.user, 'image')|default('/common/images/profile/default.jpg'))|imagine_filter('user') }}" alt="{{ app.user.username }}">
                <span>{{ app.user.username }}</span>
            </a>
            <form action="{{ path('security_logout') }}" method="get">
                <button type="submit" class="darkwood-topnav__button darkwood-topnav__button--ghost">
                    {{ 'common.menu.logout_btn'|trans }}
                </button>
            </form>
        {% else %}
            <a class="darkwood-topnav__button darkwood-topnav__button--ghost" href="{{ path('common_register') }}">
                {{ 'common.menu.register'|trans }}
            </a>
            <a class="darkwood-topnav__button" href="{{ path('security_login') }}">
                {{ 'common.menu.login_btn'|trans }}
            </a>
        {% endif %}
    </div>
</nav>
