{% for flashMessage in app.session.flashbag.get('warning') %}<div class="alert_warning">{{ flashMessage }}</div>{% endfor %}
<table>
    <colgroup>
        <col class="col-3" />
        <col class="col-3" />
        <col class="col-3" />
    </colgroup>
    <tbody>
    <tr>
        <td class="spaced">
            <a class="go" data-state="combat">
                <img src="{{ asset('/darkwood/images/apps/web/combat.jpg') }}" title="{{ 'darkwood.play.main.combat'|trans }}">
                <br />{{ 'darkwood.play.main.combat'|trans }}
            </a>
        </td>
        <td class="spaced">
            <a class="go" data-state="sword">
                <img src="{{ asset('/darkwood/images/apps/web/sword.jpg') }}" title="{{ 'darkwood.play.main.sword'|trans }}">
                <br />{{ 'darkwood.play.main.sword'|trans }}
            </a>
        </td>
        <td class="spaced">
            <a class="go" data-state="potion">
                <img src="{{ asset('/darkwood/images/apps/web/potion.jpg') }}" title="{{ 'darkwood.play.main.potion'|trans }}">
                <br />{{ 'darkwood.play.main.potion'|trans }}
            </a>
        </td>
    </tr>
    <tr>
        <td class="spaced">
            <a class="go" data-state="daily-battle">
                <img src="{{ asset('/darkwood/images/apps/web/dailyBattle.jpg') }}" title="{{ 'darkwood.play.main.dailyBattle'|trans }}">
                <br />{{ 'darkwood.play.main.dailyBattle'|trans }}
            </a>
        </td>
        <td class="spaced">
            <a class="go" data-state="armor">
                <img src="{{ asset('/darkwood/images/apps/web/armor.jpg') }}" title="{{ 'darkwood.play.main.armor'|trans }}">
                <br />{{ 'darkwood.play.main.armor'|trans }}
            </a>
        </td>
        <td class="spaced">
            <a class="go" data-state="hostel">
                <img src="{{ asset('/darkwood/images/apps/web/hostel.jpg') }}" title="{{ 'darkwood.play.main.hostel'|trans }}">
                <br />{{ 'darkwood.play.main.hostel'|trans }}
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="spaced">
            <div class="spaced" style="float:left;padding-left:150px;">
                <a class="go" data-state="equipment">
                    <img src="{{ asset('/darkwood/images/apps/web/equipment.jpg') }}" title="{{ 'darkwood.play.main.equipment'|trans }}">
                    <br />{{ 'darkwood.play.main.equipment'|trans }}
                </a>
            </div>
            <div class="spaced" style="float:right;padding-right:150px;">
                <a class="go" data-state="info">
                    <img src="{{ asset('/darkwood/images/apps/web/info.jpg') }}" title="{{ 'darkwood.play.main.info'|trans }}">
                    <br />{{ 'darkwood.play.main.info'|trans }}
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
