{% for flashMessage in app.session.flashbag.get('warning') %}<div class="alert_warning">{{ flashMessage }}</div>{% endfor %}
<table class="table table-borderless">
    <colgroup>
        <col class="col-3" />
        <col class="col-3" />
        <col class="col-3" />
    </colgroup>
    <thead>
    <tr>
        <th colspan="3">{{ 'darkwood.play.label.your_settings'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="3"><img src="{{ asset(vich_uploader_asset(data.info.player.potion, 'image')) }}" /></td>
        <td>{{ 'darkwood.play.label.your_potion'|trans|upper }}</td>
        <td>{{ data.info.player.potion.title }}</td>
    </tr>
    <tr>
        <td>{{ 'darkwood.play.label.life_points'|trans|upper }}</td>
        <td>{{ data.info.player.potion.life }}</td>
    </tr>
    <tr>
        <td>{{ 'darkwood.play.label.your_gold'|trans|upper }}</td>
        <td>{{ data.info.player.gold }}</td>
    </tr>
    </tbody>
</table>

<table class="table table-borderless" id="potioninfos">
    <colgroup>
        <col class="col-3" />
        <col class="col-3" />
        <col class="col-3" />
    </colgroup>
    <thead>
    <tr>
        <th colspan="3">{{ 'darkwood.play.label.buy'|trans }} {{ data.currentPotion.potion.title }}</th>
    </tr>
    </thead>
    <tbody>
    {% if data.currentPotion.next %}
        <tr>
            <td colspan="3" class="spaced">
                <a class="go" data-state="potion" data-action-potion-next="true">
                    <img src="{{ asset('/common/images/components/theme-dark/site/icons/16x16/arrow_up.png') }}" />
                </a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td rowspan="2"><img src="{{ asset(vich_uploader_asset(data.currentPotion.potion, 'image')) }}" /></td>
        <td>{{ 'darkwood.play.label.buy_price'|trans|upper }}</td>
        <td>{{ data.currentPotion.potion.price }}</td>
    </tr>
    <tr>
        <td>{{ 'darkwood.play.label.life_points'|trans|upper }}</td>
        <td>{{ data.currentPotion.potion.life }}</td>
    </tr>
    {% if data.currentPotion.previous %}
        <tr>
            <td colspan="3" class="spaced">
                <a class="go" data-state="potion" data-action-potion-previous="true">
                    <img src="{{ asset('/common/images/components/theme-dark/site/icons/16x16/arrow_down.png') }}" />
                </a>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>

<p id="actions">
    <a id="action_return" class="go icon left">{{ 'darkwood.play.label.return'|trans }}</a>
    <a id="action_buy" class="go icon right" data-state="potion" data-action-potion-buy="true">{{ 'darkwood.play.label.buy'|trans }}</a>
</p>
