{% extends "photos/base.html.twig" %}

{% block content %}

<h1>{{ 'photos.show.intro'|trans }}</h1>
<p>{{ 'photos.show.note'|trans }}</p>

<form id="gallery_form" action="{{ path('photos_show') }}" method="post" novalidate="novalidate">
    <fieldset>
        <legend>{{ 'photos.show.login.title'|trans }}</legend>
        {% if app.request.method == 'POST' %}<div class="alert_error">{{ 'photos.show.login.failed'|trans }}</div>{% endif %}
        <ul>
            <li>
                <label for="gallery_name">Nom</label>
                <input type="text" id="gallery_name" name="gallery_name" title="{{ 'photos.show.login.name'|trans }}" class="validate['required']" value="">
            </li>
            <li>
                <label for="gallery_login">Login</label>
                <input type="text" id="gallery_login" name="gallery_login" title="{{ 'photos.show.login.login'|trans }}" class="validate[]" value="">
            </li>
            <li>
                <label for="gallery_password">Mot de passe</label>
                <input type="password" id="gallery_password" name="gallery_password" title="{{ 'photos.show.login.password'|trans }}" class="validate[]" value="">
            </li>
        </ul>
    </fieldset>
    <ul>
        <li><input type="submit" id="gallery_view" name="gallery_view" class="validate[]" value="Visualiser"></li>
    </ul>
</form>
<div class="clearfix"></div>
<p>{{ 'photos.show.info'|trans }}</p>
<h2>{{ 'photos.show.consult'|trans }}</h2>
{% endblock %}
