<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1280px">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{{ asset('/admin/plugins/bootstrap-3.1.1/css/bootstrap.css') }}" media="screen" />
        <link type="text/css" rel="stylesheet" href="{{ asset('/admin/plugins/jquery-ui-1.10.4/themes/base/jquery-ui.css') }}" media="screen" />
    {% endblock %}

    {% block javascript %}
        <script type="text/javascript" src="{{ asset('/admin/plugins/jquery-1.8.2/jquery-1.8.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/admin/plugins/bootstrap-3.1.1/js/bootstrap.js') }}"></script>
    {% endblock %}

    <!-- Matomo -->
    <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//stats.darkwood.fr/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Matomo Code -->
</head>
<body{% block identifier %}{% endblock %}>
    {% block content %}{% endblock %}
</body>
</html>
