{% embed 'common/components/navbar.html.twig' %}
    {% block link %}{{ path('apps_home') }}{% endblock %}
    {% block title %}Apps{% endblock %}
    {% block theme %}navbar-light navbar-menu-blue{% endblock %}
    {% block content %}
        <ul class="nav nav-menu-box-blue">
            <li><h2>{{ 'common.menu.login'|trans }}</h2></li>
            {% if app.user %}
                <li>
                    <div class="user_icon">
                        <a href="{{ path('common_profile') }}">
                            <img src="{{ asset(vich_uploader_asset(app.user, 'image')|default('/common/images/profile/default.jpg'))|imagine_filter('user') }}" alt="{{ app.user.username }}">
                        </a>
                    </div>
                    <div class="user_info">
                        <h3>{{ 'common.menu.login_welcome'|trans }}</h3>
                        <h3><a href="{{ path('common_profile') }}">{{ app.user.username }}</a></h3>
                    </div>
                    <div class="user_logout">
                        <form id="login_form" action="{{ path('security_logout') }}" method="get">
                            <ul>
                                <li><input type="submit" class="auto" value="{{ 'common.menu.logout_btn'|trans }}"></li>
                            </ul>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </li>
            {% else %}
                <li>
                    <form id="login_form" action="{{ path('security_login') }}" method="post" novalidate="novalidate">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <ul>
                            <li>
                                <label for="username">{{ 'common.menu.login_username'|trans }}</label>
                                <input type="text" id="username" name="username" autocomplete="username" title="{{ 'common.menu.login_username'|trans }}" class="validate['required']" value="{{ last_username }}">
                            </li>
                            <li>
                                <label for="password">{{ 'common.menu.login_password'|trans }}</label>
                                <input type="password" id="password" name="password" autocomplete="current-password" title="{{ 'common.menu.login_password'|trans }}" class="validate['required']" value="">
                            </li>
                        </ul>
                        <ul>
                            <li><input type="submit" id="login_login" name="login_login" class="validate[]" value="{{ 'common.menu.login_btn'|trans }}"></li>
                        </ul>
                    </form>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="facebook_connect">
                        <a href="{{ path('connect_facebook_start') }}">{{ 'common.menu.login_btn'|trans }}</a>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li><a href="{{ path('common_register') }}">{{ 'common.menu.register'|trans }}</a></li>
            {% endif %}
        </ul>
        <ul class="nav nav-menu-box-blue">
            <li><h2>{{ 'apps.menu.apps'|trans }}</h2></li>
            {% for appLink in appLinks %}
                <li><a href="{{ appLink.link }}">{{ appLink.label }}</a></li>
            {% endfor %}
        </ul>

        <ul class="nav nav-menu-links-blue">
            {% for locale, pageLink in pageLinks %}
                <li>
                    <a href="{{ pageLink }}">
                        <img src="{{ asset('/common/images/site/flags/'~ locale ~'.png') }}" title="{{ locale }}" alt="{{ locale }}" class="flag" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endembed %}
