<title>{{ data.title }}</title>
<meta name="description" content="{{ data.description }}">
<meta name="keywords" content="{{ data.keywords }}">

{# social share facebook -#}
<meta property="og:site_name" content="{{ data.facebook.site_name }}">
<meta property="og:title" content="{{ data.facebook.title }}">
<meta property="og:description" content="{{ data.facebook.description }}">
<meta property="og:url" content="{{ data.facebook.url }}">
<meta property="og:type" content="{{ data.facebook.type }}">
<meta property="og:image" content="{{ absolute_url(data.facebook.src|default('/common/images/site/cover.png')) }}">
<meta property="og:locale" content="{{ app.request.locale }}">

{# social share twitter -#}
<meta name="twitter:card" content="{{ data.twitter.card }}">
<meta name="twitter:site" content="{{ data.twitter.site }}">
<meta name="twitter:title" content="{{ data.twitter.title }}">
<meta name="twitter:description" content="{{ data.twitter.description }}">
<meta name="twitter:image:src" content="{{ absolute_url(data.twitter.src|default('/common/images/site/cover.png')) }}">
