<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ render(controller('App\\Controller\\CommonController::seo', { 'context': _context })) }}

    <link rel="author" href="{{ asset('/humans.txt') }}" />
    <meta name="Owner" content="Mathieu Ledru"/>
    <meta name="Author" content="Mathieu Ledru"/>
    <meta name="Publisher" content="Mathieu Ledru"/>
    <meta name="Date-Creation-yyyymmdd" content="20051005"/>

    {# google webmaster tool -#}
    <meta name="google-site-verification" content="LJqS0GX15gkq-lSFKr_tuWRfw-EUz4rgZR1LoEvzpKU" />

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ path(page.page.site.ref ~ '_sitemap_xml') }}" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/darkwood-fr/blog" />

    {{ render(controller('App\\Controller\\CommonController::hreflangs', { 'ref': page.page.ref })) }}

    {% block css -%}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{% block layout %}layout{% endblock %}">

    {% block body %}{% endblock %}

    {% block javascript -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2319330-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-2319330-3', {
            'linker': {
                'domains': ['darkwood.fr', 'apps.darkwood.fr', 'photos.darkwood.fr', 'blog.darkwood.fr', 'me.darkwood.fr']
            }
        });
    </script>

    <!-- scripts -->
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

</body>
</html>
