{% extends ""~ site_ref ~"/base.html.twig" %}

{% block content %}

<h1>{{ page.title }}</h1>
<h2>{{ 'common.login.login'|trans }}</h2>
<form id="login_form" method="post" action="{{ path('security_login') }}" novalidate="novalidate">
    {% if error %}
        <ul>
            <li><div class="alert_error">{{ error.messageKey|trans(error.messageData, 'security') }}</div></li>
        </ul>
    {% endif %}

    {% if app.user %}
        <ul>
            <li>
                <div class="alert_success">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('security_logout') }}">Logout</a>
                </div>
            </li>
        </ul>
    {% endif %}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <ul>
        <li>
            <label for="inputUsername">{{ 'common.menu.login_username'|trans }}</label>
            <input type="text" value="{{ last_username }}" name="username" autocomplete="username" id="inputUsername" required autofocus>
        </li>
        <li>
            <label for="inputPassword">{{ 'common.menu.login_password'|trans }}</label>
            <input type="password" name="password" autocomplete="current-password" id="inputPassword" required>
        </li>
    </ul>
    <ul>
        <li><input type="submit" id="login_login" name="login_login" value="{{ 'common.menu.login_btn'|trans }}"></li>
    </ul>
</form>

<div class="clearfix"></div>

<p>
    {{ 'common.login.no_account_intro'|trans }}
    <a href="{{ path('common_register') }}">{{ 'common.action.register'|trans|lower }}</a>{{ 'common.login.no_account_end'|trans }}
</p>

{% endblock %}
