{% extends ""~ site_ref ~"/base.html.twig" %}

{% block content %}

<h1>{{ page.title }}</h1>
<form id="resetting_form"  action="{{ path('common_resetting_send_email') }}" method="POST" novalidate="novalidate">
    <ul>
        {% if invalid_email is defined %}
        <li><div class="alert_error">{{ 'resetting.request.invalid_email'|trans({'%email%': invalid_email}) }}</div></li>
        {% endif %}
        <li>
            <label for="resetting_email">{{ 'resetting.request.email'|trans }}</label>
            <input type="email" id="resetting_email" name="email" autocomplete="email" required="required" />
        </li>
    </ul>
    <ul>
        <li><input type="submit" value="{{ 'resetting.request.submit'|trans }}" /></li>
    </ul>
</form>

{% endblock %}
