{% extends "darkwood/base.html.twig" %}

{% block content %}

<h1>{{ page.title }}</h1>
<h2>{{ 'darkwood.home.news'|trans }}</h2>
<ul class="itemlist">
    {% for article in news %}
    {% set articleTranslation = article.getOneTranslation(app.request.locale) %}
    <li>
        <h3>{{ articleTranslation.title }} <em>{{ 'darkwood.home.news_on'|trans }} {{ articleTranslation.created|format_date('long') }}</em></h3>
        <p>{{ articleTranslation.content|markdown|striptags|u.truncate(260, '...') }}</p>
        <p><a href="{{ path('blog_article', {'slug': articleTranslation.slug}) }}">{{ 'darkwood.home.show_more'|trans }}</a></p>
    </li>
    {% endfor %}
</ul>

{% endblock %}
