{% extends "hello/base.html.twig" %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}

<div class="container-fluid theme theme-hello">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top main-nav" id="page-top">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top"><img class="img-fluid" src="{{ asset('/hello/logo-uni-dark.png') }}" alt="darkwood logo" width="50px"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">{{ 'hello.menu.about'|trans }}</a></li>
                    {#<li class="nav-item"><a class="nav-link" href="#projects">{{ 'hello.menu.projects'|trans }}</a></li>#}
                    <li class="nav-item"><a class="nav-link" href="#blog">{{ 'hello.menu.blog'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">{{ 'hello.menu.contact'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">{{ 'hello.hero.title'|trans|raw }}</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ 'hello.hero.description'|trans|raw }}</h2>
                    <a class="btn btn-primary" href="#about">{{ 'hello.hero.cta'|trans }}</a>
                </div>
            </div>
        </div>
    </header>
    <section class="section about-section" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mb-4">{{ 'hello.about.title'|trans }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 ml-auto text-white-50 show_links">
                    <p>{{ 'hello.about.text'|trans|raw|nl2br }}</p>
                </div>
            </div>
            <div class="row justify-content-center g-4">
                <div class="col-6 col-xs-4 col-xl-2">
                    <div class="d-grid gap-2 h-100">
                        <a href="#contact" class="btn btn-lg btn-primary">
                            <i class="fa fa-paper-plane"></i>
                            {{ 'hello.about.cta_contact'|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xs-4 col-xl-2">
                    <div class="d-grid gap-2 h-100">
                        <a href="{{ path('hello_cv') }}" class="btn btn-lg btn-secondary">
                            <i class="fa fa-file-alt"></i>
                            {{ 'hello.about.cta_cv'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#<section class="section projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Shoreline</h4>
                        <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                    </div>
                </div>
            </div>
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Misty</h4>
                                <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Mountains</h4>
                                <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>#}
    <section class="section blog-area pt-125 pb-130" id="blog">
        <div class="container">
            <div class="row p-5 gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4 text-center">{{ 'hello.blog.title'|trans }}</h2>
                    <p class="text-white-50 text-center">{{ 'hello.blog.description'|trans }}</p>
                </div>
            </div>
            <div class="row justify-content-center g-4">
                {% for article in articles %}
                {% set articleTranslation = article.getOneTranslation(app.request.locale) %}
                <div class="col-lg-4 col-md-8 col-sm-9">
                    <div class="single-blog mt-30">
                        <div class="blog-image">
                            <img src="{{ asset(vich_uploader_asset(articleTranslation, 'image'))|imagine_filter('hello_blog') }}" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="{{ path('blog_article', {'slug': articleTranslation.slug}) }}">{{ articleTranslation.title }}</a></h4>
                            <span>{{ articleTranslation.created|format_date('long') }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row pt-5">
                <div class="col-lg-12">
                    <div class="blog-more text-center mt-50">
                        <a class="btn btn-primary" href="{{ path('blog_home') }}">{{ 'hello.blog.cta_more'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section contact-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">{{ 'hello.contact.title'|trans }}</h2>
                    <form id="contact_form" action="{{ path('hello_home') }}#contact_form" method="post" novalidate="novalidate">
                        {{ form_errors(form._token) }}
                        {{ form_widget(form._token) }}
                        {% for flashMessage in app.session.flashbag.get('success') %}<div class="alert_success">{{ flashMessage }}</div>{% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}<div class="alert_error">{{ flashMessage }}</div>{% endfor %}
                        {% if form.vars['errors'] |length > 0 %}<div class="alert_error">{{ form_errors(form) }}</div>{% endif %}
                        <div class="row">
                            {% if form.email.vars['errors'] |length > 0 %}<div class="col-12"><div class="mb-3"><div class="alert_error">{{ form_errors(form.email) }}</div></div></div>{% endif %}
                            <div class="col-12">
                                <div class="mb-3">
                                    {{ form_label(form.email, 'common.contact.email', {'label_attr':{'class': 'form-label text-white'}}) }}
                                    {{ form_widget(form.email, {'attr':{'class': 'form-control'} }) }}
                                </div>
                            </div>
                            {% if form.website.vars['errors'] |length > 0 %}<div class="col-12"><div class="mb-3"><div class="alert_error">{{ form_errors(form.website) }}</div></div></div>{% endif %}
                            <div class="col-12">
                                <div class="mb-3">
                                    {{ form_label(form.website, 'common.contact.website', {'label_attr':{'class': 'form-label text-white'}}) }}
                                    {{ form_widget(form.website, {'attr':{'class': 'form-control'} }) }}
                                </div>
                            </div>
                            {% if form.content.vars['errors'] |length > 0 %}<div class="col-12"><div class="mb-3"><div class="alert_error">{{ form_errors(form.content) }}</div></div></div>{% endif %}
                            <div class="col-12">
                                <div class="mb-3">
                                    {{ form_label(form.content, 'common.contact.message', {'label_attr':{'class': 'form-label text-white'}}) }}
                                    {{ form_widget(form.content, {'attr':{'class': 'form-control', 'rows': '5', 'cols': '35'} }) }}
                                </div>
                            </div>
                            {% if form.recaptcha.vars.ewz_recaptcha_enabled %}
                            {% if form.recaptcha.vars['errors'] |length > 0 %}<div class="col-12"><div class="mb-3"><div class="alert_error">{{ form_errors(form.recaptcha) }}</div></div></div>{% endif %}
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="required text-white">{{ 'common.contact.recaptcha'|trans }}</label>
                                    <div class="d-flex justify-content-center">
                                        <div class="g-recaptcha" data-sitekey="{{ form.recaptcha.vars.public_key }}"></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <button type="submit" id="submit" name="contact_contact" class="btn btn-primary">{{ 'hello.contact.btn_send'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="row theme-footer no_link">
        {%- include "hello/partials/footer.html.twig" -%}
    </div>
    <div class="row theme-info no_link p-2">
        <div class="col-12 text-center">
            {{ 'hello.footer.credit'|trans|raw }}
        </div>
    </div>
</div>

{% endblock %}
