{% set currentRoute = app.request.attributes.get('_route') %}

<nav class="theme-nav row g-0 align-items-center" aria-label="Photos navigation">
    <div class="theme-nav__primary col-md">
        <a class="theme-nav__brand" href="{{ path('photos_home') }}">
            <img src="{{ asset('logo.svg') }}" alt="Darkwood Photos" class="theme-nav__brand-mark">
            <span class="theme-nav__brand-text">Photos</span>
        </a>

        <ul class="theme-nav__links">
            <li>
                <a href="{{ path('photos_show') }}" class="{% if currentRoute == 'photos_show' %}is-active{% endif %}">
                    {{ 'photos.menu.show'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('photos_demo') }}" class="{% if currentRoute == 'photos_demo' %}is-active{% endif %}">
                    {{ 'photos.menu.demo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('photos_help') }}" class="{% if currentRoute == 'photos_help' %}is-active{% endif %}">
                    {{ 'photos.menu.help'|trans }}
                </a>
            </li>
        </ul>
    </div>

    <div class="theme-nav__actions col-md-auto">
        <div class="theme-nav__locales dropdown" aria-label="Locales">
            <a href="#" class="dropdown-toggle theme-nav__locale-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ asset('/common/images/site/flags/' ~ app.request.locale ~ '.png') }}" alt="{{ app.request.locale }}" class="theme-nav__flag">
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                {% for locale, pageLink in pageLinks %}
                    <li>
                        <a href="{{ pageLink }}" class="dropdown-item{% if app.request.locale == locale %} active{% endif %}">
                            <img src="{{ asset('/common/images/site/flags/' ~ locale ~ '.png') }}" alt="{{ locale }}" class="theme-nav__flag">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if app.user %}
            <a class="theme-nav__profile" href="{{ path('common_profile') }}">
                <img src="{{ asset(vich_uploader_asset(app.user, 'image')|default('/common/images/profile/default.jpg'))|imagine_filter('user') }}" alt="{{ app.user.username }}">
                <span>{{ app.user.username }}</span>
            </a>
            <form action="{{ path('security_logout') }}" method="get">
                <button type="submit" class="theme-nav__button theme-nav__button--logout">
                    {{ 'common.menu.logout_btn'|trans }}
                </button>
            </form>
        {% else %}
            <a class="theme-nav__button theme-nav__button--login" href="{{ path('security_login') }}">
                {{ 'common.menu.login_btn'|trans }}
            </a>
        {% endif %}
    </div>
</nav>

<ul class="theme-mobile-nav">
    <li class="theme-mobile-nav__home">
        <a href="{{ path('photos_home') }}" class="{% if currentRoute == 'photos_home' %}is-active{% endif %}">
            Photos
        </a>
    </li>
    <li>
        <a href="{{ path('photos_show') }}" class="{% if currentRoute == 'photos_show' %}is-active{% endif %}">
            {{ 'photos.menu.show'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('photos_demo') }}" class="{% if currentRoute == 'photos_demo' %}is-active{% endif %}">
            {{ 'photos.menu.demo'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('photos_help') }}" class="{% if currentRoute == 'photos_help' %}is-active{% endif %}">
            {{ 'photos.menu.help'|trans }}
        </a>
    </li>
</ul>
